body {
  background-image: url("https://previews.123rf.com/images/skorzewiak/skorzewiak1903/skorzewiak190300100/119831274-retro-gamepad-controller-hologram-on-digital-background-5g-gaming-play-pad-and-online-game-abstract-.jpg");
  background-size: cover;
}
h1 {
  font-family: sans-serif;
  font-size: 40px;
  text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
  color: white;
  border:40px #c708c7;
  background-color: rgb(51, 117, 179);
  width: 600px;
  text-align: center;
  margin:auto;
  border: 3px solid rgba(160, 160, 160, 0.986);
}
h2 {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-style: bold;
}
article {
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background: url("https://image.freepik.com/free-vector/technology-banner-background-with-hexagonal-shapes-text-space_1017-22589.jpg");
  background-size: cover;
  color: silver;
  text-align: center;
  border-radius: 40px;
  border: 1px solid #c708c7;
}
ul {
  padding: 10px;
  background: rgb(10, 15, 82);
  text-align: center;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: rgb(255, 9, 214);
}
p#subscribe {
  font-size: 10px;
}
label {
  max-width: 100px;
  margin-left: 37%;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
input {
  text-align: center;
  align-self: center;
  max-width: 100px;
}
div {
  border: 1px solid red;
  padding: 6px;
  min-height: 12px;
  background-color: red;
  text-align: center;
  max-width: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
